
<div class="clear"></div>
    <div class="text-center">
        <h1 style="text-align:center">Initialize Classrooms</h1>
        <p>To enable classroom challenges and track participations point, you must select the grades for which you would like to create classrooms.</p>
    </div>

<div class="clear"></div>

<div class="form-card">
    <%= render partial: 'form'%>
</div>