<div class="clear"></div>

    <h1 style="text-align:center">Fundraisers That Exceeded Goal</h1>

    <div class="clear"></div>

    
    <div class="frame-full">
        <%= render partial: 'exceeded_expectations'%>
    </div>