
    <div class="clear"></div>

    <h1 style="text-align:center">Fundraisers/Events</h1>

    <div class="clear"></div>

    
    <div class="frame-full">
    <%= link_to 'Download as .xlsx', fundraisers_path(format: :xlsx), class: "btn btn-success push-right" %>
        <%= render partial: 'list'%>
    </div>


  

