<div class="clear"></div>

    <h1 style="text-align:center">Most Commented Fundraiser</h1>

    <div class="clear"></div>

    
    <div class="frame-full">
        <%= @fundraiser.title %>
    </div>