
    <div class="profile-card text-center">
        <%= image_tag(@user.profile_img) %>
        <%= link_to "Edit", edit_user_path(current_user), :class => "btn btn-link", :style => "float: right"%>
    </div>

    <div class="profile-card-blue">
        <h1><%=current_user.full_name %></h1>
        
    </div>

    <div class="profile-card-red">
        <p><%= link_to "Logout", '/logout', class: "btn btn-outline-light" %></p>
    </div>

