<div class="profile-card-blue">
      <h1><%=current_user.full_name %></h1>
  </div>

    <div class="profile-card data-box text-center">
        <h1>Count Me In!</h1>
        <div class="line"></div>
        <% if current_user.rsvpd? %>
            <%= render partial: "users/reservations" %>
        <% end %>
    </div>

  

    <div class="profile-card-red">
        <p><%= link_to "Logout", '/logout', class: "btn btn-outline-light" %></p>
    </div>

