
   <% if !current_user.household.reservations.empty? %>
        <% current_user.household.reservations.each do |r| %>
            <h4><%=link_to r.fundraiser.title, fundraiser_path(r.fundraiser) unless r.fundraiser.status == "Completed"%></h4>
        <% end %>
    <% end %>
