<h1 class="text-center">Select your school...</h1>

    <div class="form-card">
        <%= form_tag ('/login') do%>

            <%= select_tag "school_name", options_from_collection_for_select(@schools, "id", "name"), class: "form-control" %></br>
            <%= submit_tag "Link to School", class: "btn btn-outline-primary" %>  
            
        <% end %>
    </div>
