    <div class="clear"></div>

    <h1 style="text-align: center">Create Your Free Account!</h1>
    
    <div class="clear"></div>

    <div class="form-card">
        <%= render partial: "form" %>
    </div>
