<div class="blue-overlay" style="display: block; height: 869px;">
    <div class="container-fluid">
        <div class="row">
            <div class="side-panel col-md-2 col-sm-2">
                <img class="tuna-signup-logo" src="images/tuna-logo-white.png" alt="logo">
                <p>Sexy signup form for your customers</p>
                <p class="tuna-trial">14 Days Free Trial</p>
                
                </div>
            <div class="tuna-signup-right col-md-10 col-sm-810 " style="height: 869px;">

                <div class="steps-count">
                    STEP <span class="step-current">1</span>/<span class="step-count">5</span>
                </div>

                <div class="tuna-steps">
                    <div class="step step-active" data-step-id="1">
                        <label class="formLabel" for="tn_name">What is your name?</label>
                        <input type="text" class="formInput" id="tn_name" name="tn_name" autocomplete="off" spellcheck="false">
                        <div class="help-error"><i class="icon icon-warning"></i> Name field is required!</div>
                    </div> 
                    <div class="step" data-step-id="2">
                        <label class="formLabel" for="tn_email">What is your email?</label>
                        <input type="email" class="formInput" id="tn_email" name="tn_email" autocomplete="off" spellcheck="false">
                        <div class="help-error"><i class="icon icon-warning"></i> You have entered an invalid e-mail address. Please try again!</div>
                        <div class="help-info">Ex. name@company.com</div>
                    </div> 
                    <div class="step" data-step-id="3">
                        <label class="formLabel" for="tn_password">Choose your password?</label>
                        <input type="password" class="formInput" id="tn_password" name="tn_password" autocomplete="new-password" spellcheck="false">
                        <div class="help-error"><i class="icon icon-warning"></i>Password should contain 8 digits at least</div>
                        <div class="help-info">Password should contain 8 digits at least</div>
                    </div> 
                    <div class="step" data-step-id="4">
                        <label class="formLabel" for="tn_phone">What is your phone number?</label>
                        <input type="tel" class="formInput" id="tn_phone" name="tn_phone" autocomplete="off" spellcheck="false" maxlength="13">
                        <div class="help-error"><i class="icon icon-warning"></i>Please enter a valid 10 digit US phone number without country code</div>
                        <div class="help-info">Ex. 500 123 45 67 </div>
                    </div>
                    <div class="step step-confirm " data-step-id="5">
                        <form action="post" name="signupForm" autocomplete="off" class="form-horizontal">
                            <div class="form-group">
                                <div class="control-label col-md-4">Name</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <input type="text" name="name" autocomplete="off" spellcheck="false" class="form-control">
                                        <a href="javascript:void(0)" class="editInput">EDIT</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4">Email</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <input type="text" name="email" autocomplete="off" spellcheck="false" class="form-control">
                                        <a href="javascript:void(0)" class="editInput">EDIT</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4">Password</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <input type="password" name="password" autocomplete="off" spellcheck="false" class="form-control">
                                        <a href="javascript:void(0)" class="editInput">EDIT</a>
                                        <a href="javascript:void(0)" class="showPass">SHOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4">Phone</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <input type="text" name="phone" autocomplete="off" spellcheck="false" class="form-control" maxlength="13">
                                        <a href="javascript:void(0)" class="editInput">EDIT</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-sm-12 col-md-offset-4 col-sm-offset-0">
                                    <label class="checkbox-inline agreement">
                                        <div class="checker" id="uniform-agreement"><span><input id="agreement" name="agreement" type="checkbox"></span></div>I agree to the <a href="#" target="_blank">terms of service</a>.
                                    </label>
                                </div>
                            </div>

                            <div class="step-confirm-buttons">
                                <div>
                                    <a href="javascript:void(0)" class="btn btn-white btn-rounded finishBtn">Ready, Let's Start!</a>
                                    <span>or press "Enter"</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="button-container">
                    <div>
                        <a href="javascript:void(0)" class="btn btn-white btn-rounded nextStep" tabindex="0">Next Step →</a>
                        <span>or press "Enter"</span>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-white-transparent btn-rounded prevStep" tabindex="1">← Previous</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>