<div class="blue-overlay">
    <div class="container-fluid">
        <div class="row">
            <div class="side-panel col-md-3 col-sm-3 text-center">
                <img class="logo img-fluid" src="assets/ptyay.png" alt="logo">
                    <p>The online resource for streamlining school and fundraising activities.</p>
                
            </div>
        </div>
    </div>
</div>
            