body p {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Covered By Your Grace', 'Helvetica', sans-serif;}

.blue-overlay {
    background-color:#01166f;
    display: block;
    width: 100%;
    height: auto;
}

.full-panel {
    position: fixed;
    background-color: #01166f;
    background-image: url(/assets/school-supplies.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.full-panel p {
    color: #fff;
    margin: auto;
}

.full-panel img {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}


.signup {
    width: 70%;
    padding: 50px 10px 50px 10px;
    margin: auto;
    background:  rgba(0, 0, 0, 0.10);
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.12), 0 1px 4px rgba(255, 255, 255, 0.24);
    border: none;
}

/* LOGO STYLING */

.logo {
    display: block;
    width: 500px;
    height: auto;
}

/* TAGLINE */

#tagline {
    margin: auto;
    text-align: center;
}

#tagline h1 {
    font-family: 'Covered By Your Grace', 'Helvetica', sans-serif;
    font-size: 4em;
    color: #fff;
}

#tagline span {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 20px;
    color: #fff;
    padding-bottom: 10px;
}

/* STICKY BOTTOM */

.fixed-bottom {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    align-items: center;
}

.fixed-bottom p {
    color: #fff;
    float: right;
    margin-top: 10px;
}

.marz {
    width: 75px;
    display: inline;
    float: right;
}

/* FORM STYLING */

::-webkit-input-placeholder {
    font-family: ' News Cycle', 'Helvetica', sans-serif;
    font-size: 16px;
  }
  
  :-ms-input-placeholder {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 16px; 
  }
  
  input {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
  }

  ::-webkit-label {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 16px;
    color: #fff;
  }
  
  :-ms-label {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 16px; 
    color: #fff;
  }
  
  label {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    color: #fff;
  }

  ::-webkit-submit {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 16px;
    color: #fff;
  }
  
  :-ms-submit {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 16px; 
    color: #fff;
  }
  
  submit {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    color: #fff;
  }