* {
    overflow-y: scroll;
}

body p {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Fjalla One', 'Helvetica', sans-serif;}

.blue-overlay {
    background-color:#01166f;
    display: block;
    width: 100%;
    height: auto;
}

.full-panel {
    position: relative;
    background-color: #01166f;
    background-image: url(/assets/school-supplies.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.full-panel h1, h2, h3, h4, h5, h6, p {
    color: #fff;
    margin: auto;
}

.full-panel img {
    padding-top: 50px;
    padding-bottom: 50px;
}

.full-panel .form-card {
    background-color:transparent;
    border: 1px solid #ccc;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    width: 80%;
    padding: 50px 50px 50px 50px;
    margin: auto;
}

.full-panel .form-card h1, h2, h3, h4, h5, h6, p {
    color: #fff;
}

.clear {
    width: 100%;
    height: 25px;
}

.side-panel {
    position: relative;
    background-color: #01166f;
    background-image: url(/assets/school-supplies.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.login {
    width: 70%;
    padding: 50px 10px 50px 10px;
    margin: auto;
    background:  rgba(0, 0, 0, 0.30);
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.12), 0 1px 4px rgba(255, 255, 255, 0.24);
    border: none;
}

.login h1 {
    text-align: center;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
}

/* LOGO STYLING */

.logo {
    display: block;
    width: 400px;
    height: auto;
}

.logo-sm {
    display: block;
    width: 100px;
    height: auto;
    max-width: 100px;
}

/* TAGLINE */

#tagline {
    margin: auto;
    text-align: center;
}

#tagline h1 {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    color: #fff;
}

#tagline span {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 24px;
    color: #fff;
    padding-bottom: 30px;
}

/* CARD STYLING */

.header-frame {
    width: 90%;
    height: 150px;
    background:  rgba(199, 239, 255, 0.6);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-frame h1 {
    color: #fff;
}

.frame {
    width: 90%;
    padding: 50px;
    background:  rgba(0, 0, 0, 0.30);
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.12), 0 1px 4px rgba(255, 255, 255, 0.24);
    border: none;
    margin-bottom: 15px;
    
}

.frame td {
    color: #fff;
    font-size: 18px;
}

.frame tr {
    border-bottom: 1px solid #fff;
}

.frame p, span {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    color: #fff;
}

.form-card {
    width: 90%;
    padding: 50px;
    background:  rgba(0, 0, 0, 0.30);
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.12), 0 1px 4px rgba(255, 255, 255, 0.24);
    border: none;
    margin-bottom: 15px;
}

/* PROFILE STYLING */
.profile img {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile h1 {
    color: #fff;
}

.profile-card {
    width: 90%;
    padding: 5px;
    margin: auto;
    background:  rgba(0, 0, 0, 0.30);
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.12), 0 1px 4px rgba(255, 255, 255, 0.24);
    border: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card-blue {
    background: rgba(0, 153, 255, 0.411);
    width: 90%;
    padding: 5px;
    margin: auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card-orange {
    background: rgba(255, 145, 0, 0.534);
    width: 90%;
    padding: 5px;
    margin: auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card-green {
    background: rgba(7, 182, 1, 0.616);
    width: 90%;
    padding: 5px;
    margin: auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card-yellow {
    background: rgba(251, 255, 39, 0.411);
    width: 90%;
    padding: 5px;
    margin: auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card-red {
    background: rgba(255, 0, 0, 0.658);
    width: 90%;
    padding: 5px;
    margin: auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card h1 {
    color: #fff;
    font-size: 2em;
}

.profile-card-orange .btn {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    margin: 5px;
    border: transparent;
}

.profile-card-red .btn {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    margin: 5px;
    border: transparent;
}
.profile-card-green .btn {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    margin: 5px;
    border: transparent;
}
.profile-card-yellow .btn {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    margin: 5px;
    border: transparent;
}

/* STICKY BOTTOM */

.fixed-bottom {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    align-items: center;
}

.fixed-bottom p {
    color: rgb(199, 239, 255);
    float: right;
    margin-top: 10px;
}

.marz {
    width: 75px;
    display: inline;
    float: right;
}

/* FORM STYLING */

::-webkit-input-placeholder {
    font-family: ' News Cycle', 'Helvetica', sans-serif;
    font-size: 18px;
    color: rgb(69, 172, 212);
  }
  
  :-ms-input-placeholder {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 18px; 
  }
  
  input {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
  }

  ::-webkit-label {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 18px;
    color: rgb(69, 172, 212);
  }
  
  :-ms-label {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 18px; 
    color: rgb(69, 172, 212);
  }
  
  label {
    font-size: 18px;
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    color: rgb(69, 172, 212);
  }

  ::-webkit-submit {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 16px;
    color: #fff;
  }
  
  :-ms-submit {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    font-size: 16px; 
    color: #fff;
  }
  
  submit {
    font-family: 'News Cycle', 'Helvetica', sans-serif;
    color: #fff;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

  /* ERROR STYLING */

  .field_with_errors input {
      border: 1px solid red;
  }
  
  #error_explanation {
      padding: 10px;
      margin: auto;
      color: red;
  }

  .notice {
      font-family: 'Anton', sans-serif;
      color: green;
  }

  .alert {
      font-family: 'Anton', sans-serif;
      color: red;
  }