<h1> Parent(s) </h1>
<% @household.users.each do |u| %>
    <p><%= u.full_name %></p>
<% end %>

<h1> Students </h1>
<% @household.students.each do |s| %>
    <p><%= s.first_name + " " + s.last_name %></p>
<% end %>